CommunityAssistClient/App_WebReferences/AssistServiceReference/AssistServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssistServiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50456/AssistServiceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50456/AssistServiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50456/AssistServiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:50456/AssistServiceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssistServiceService_RegisterPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPerson" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_RegisterPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_RequestGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestGrant" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_RequestGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestGrantResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_ViewGrants_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewGrants" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_ViewGrants_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewGrantsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_GetGrantTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantTypes" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_GetGrantTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_GetDonations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonations" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_GetDonations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_SubmitDonation_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitDonation" />
  </wsdl:message>
  <wsdl:message name="IAssistServiceService_SubmitDonation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitDonationResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssistServiceService">
    <wsdl:operation name="RegisterPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/RegisterPerson" message="tns:IAssistServiceService_RegisterPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/RegisterPersonResponse" message="tns:IAssistServiceService_RegisterPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/Login" message="tns:IAssistServiceService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/LoginResponse" message="tns:IAssistServiceService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/RequestGrant" message="tns:IAssistServiceService_RequestGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/RequestGrantResponse" message="tns:IAssistServiceService_RequestGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewGrants">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/ViewGrants" message="tns:IAssistServiceService_ViewGrants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/ViewGrantsResponse" message="tns:IAssistServiceService_ViewGrants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrantTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/GetGrantTypes" message="tns:IAssistServiceService_GetGrantTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/GetGrantTypesResponse" message="tns:IAssistServiceService_GetGrantTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/GetDonations" message="tns:IAssistServiceService_GetDonations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/GetDonationsResponse" message="tns:IAssistServiceService_GetDonations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitDonation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssistServiceService/SubmitDonation" message="tns:IAssistServiceService_SubmitDonation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssistServiceService/SubmitDonationResponse" message="tns:IAssistServiceService_SubmitDonation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssistServiceService" type="tns:IAssistServiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterPerson">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/RegisterPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestGrant">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/RequestGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewGrants">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/ViewGrants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantTypes">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/GetGrantTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonations">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/GetDonations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDonation">
      <soap:operation soapAction="http://tempuri.org/IAssistServiceService/SubmitDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssistServiceService">
    <wsdl:port name="BasicHttpBinding_IAssistServiceService" binding="tns:BasicHttpBinding_IAssistServiceService">
      <soap:address location="http://localhost:50456/AssistServiceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>